/* DIMENSIONES */
#dimensiones {
    width: 270px;
    height: 310px;
    border-style: ridge;
    border-width: 4px;
}

/* DISPLAY */
#display {
    background-color: rgb(24, 173, 93);
    border-style: ridge;
    border-width: 4px;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

.hora {
    text-transform: uppercase;
}

#cronometro {
    font-size: 20px;
}

#cronometroCentesimas, #puntosCentesimas{
    font-size: 9px;
}

/* BOTONES */
.btn {
    font-family: 'Roboto', sans-serif;
    width: 60px;
}

/* REDES */
.fab {
    font-size: 25px;
    color: greenyellow;
}

.fab:hover {
    color: rgb(167, 167, 167);
}

